<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

    <table class="table table-striped">
        <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Code</th>
                    <th>Release Date</th>
                    <th>Rating</th>
                    <th>Options </th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td><img [src]="course.imageUrl" width="40" heigth="40" alt=""></td>
                <td>{{ course.name }}</td>
                <td>{{ course.price }}</td>
                <td>{{ course.code }}</td>              
                <td>{{ course.releaseDate }}</td>
                <td>
                    
                    <app-star [rating]="course.rating"></app-star>


                </td>
                <td>{{ course.options }}</td>

            </tr>
        </tbody>
        
    </table>
</body>
</html>